# Core
fastapi
uvicorn
pydantic
celery
redis
qdrant-client==1.9.1
pytesseract
pdfminer.six
pdf2image
pillow
langdetect
paddlepaddle
paddleocr
sentence-transformers
rank-bm25
streamlit
numpy
scikit-learn
nltk
tqdm
pandas
textstat 
transformers
torch
openai
python-dotenv
python-multipart
tesseract
huggingface_hub